{% load static %}

<!DOCTYPE html>
<!-- Designined by CodingLab - youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Agent Registration Form </title>
    <link rel="stylesheet" href="{% static 'realEstate/addAgent.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="/addAgent/" method="post"> {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">Agent Name</span>
            <input type="text" placeholder="Enter Agent Name" name = "agentName" required>
          </div>
          <div class="input-box">
            <span class="details">UserID</span>
            <input type="text" placeholder="Enter UserID of Agent" name = "userID" required>
          </div>
          <div class="input-box">
            <span class="details">AgentID</span>
            <input type="text" placeholder="Enter AgentID of Agent" name = "agentID" required>
          </div>
          <div class="input-box">
            <span class="details">Contact</span>
            <input type="text" placeholder="Enter Contact Number" name = "contact" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" placeholder="Enter your password" name = "password" required>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="password" placeholder="Confirm password" name = confirm required>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Add Agent">
        </div>
      </form>
    </div>
  </div>

</body>
</html>
