{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'realEstate/dropdownscss.css' %}">
</head>
<!-- navbar html -->
<body>
    <header>
        <a href="#" class="logo">
        <img src="{% static 'realEstate/BlueSky.png' %}" alt="Logo">
        </a>
        <ul>
        <li><a href="#" style = "margin-right: 51vw;">BLUE SKY HOMES</a></li>    
        <li><a href="#">HOME</a></li>
        <li><a href="#">LOGIN</a></li>
        </ul>
    </header>

    <section class="banner"></section>
    <div class="wrapper">
        <!-- button_html -->
        <button class="button">ADD AGENT</button>
        
        <div class="park-search homepage" style="margin: 136px 0">
            
            <!-- tag line html -->
            <div class = "tag" style="font-size: 32px;font-weight: 900;">
                <p id="heading" >Hi!! Admin</p>
                <p id="tagline" >Welcome to the admin panel</p>
            <!-- Hi Admin, Welcome to the admin panel of Blue Sky Homes  -->
            </div>
            <ul>
                <li>    
                    <form action="/Administrator/" method="post" name="reservation" id="reservation" style = "margin-bottom: 1vh;"> {% csrf_token %} 
                        <ul>
                            <li>  
                                <span class="date-range-instruct" style = "margin-left: -6vw;font-weight: 800;">PROPERTY BASED FILTER</span> 
                                <select name="propertyBased" id="edit-park" class="select-1" style = "margin-right: -2vw;"> 
                                    <option value="AFR">Available properties for rent</option> 
                                    <option value="AFS">Available properties for sale</option> 
                                    <option value="Rented">Properties Given On Rent</option> 
                                    <option value="Sold">Properties Given On Sold</option>    
                                </select>  
                            </li>
                            <li> 
                                <input name="op1" type="submit" value="Search" id="edit-submit" class="submit" style = "margin-right: 5vw;"> 
                            </li>
                        </ul>
                    </form>
                </li>
                <li>
                    <form action="/Administrator/" method="post" name="reservation" id="reservation" style = "margin-bottom: 1vh;"> {% csrf_token %}
                        <ul>
                            <li> 
                                <span class="date-range-instruct" style = "margin-left: -1vw;font-weight: 800;">AGENT NAME</span> 
                                <select name="agentBased" id="infants" class="select-2"> 
                                    <option value="Bajraj Rao">Bajraj Rao</option> 
                                    <option value="Raman Singh">Raman Singh</option> 
                                    <option value="Aman Patel">Aman Patel</option> 
                                    <option value="Shiv Giri">Shiv Giri</option> 
                                    <option value="Sanit Raj">Sanit Raj</option> 
                                    <option value="Shantanu Maurya">Shantanu Maurya</option> 
                                    <option value="Anshul Joshi">Anshul Joshi</option> 
                                    <option value="Shradha Singh">Shrahda Singh</option> 
                                    <option value="Diwakar Maurya">Diwakar Maurya</option> 
                                    <option value="Piyush Jha">Piyush Jha</option> 
                                </select> 
                            </li>
                            <li>
                                <input name="op2" type="submit" value="Search" id="edit-submit" class="submit" style = "margin-left: -2vw;"> 
                            </li>
                        </ul>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="results">
        <div class="placards">
            <div class="img"> 
                <img src="{% static 'realEstate/hs1.jpg' %}" alt="">
            </div>
            <div class="info">
                <div class="oneinfo">
                    2 BHK Apartment in New Delhi
                </div>
                <div class="twoinfo">
                    <span class="intwoinfo">Rs. 123</span>
                    <span class="intwoinfo">12 sqft.</span>
                    <span class="intwoinfo">3 BHK</span>
                        <span class="intwoinfo">Parking Available</span>
                </div>
                <div class="threeinfo">
                    <span class="inthreeinfo">
                        Owner: owner
                    </span>
                    <span class="inthreeinfo">
                        <button id="myBtn">Agent Info</button>
                    </span>
                </div>
            </div>
        </div>
<script src="{% static 'realEstate/dropdownjs.js' %}"></script>
</body>
</html>