@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

.form-label {
  color: white;
}

body > div.ui-page.ui-page-theme-a.ui-page-active {
  background: -webkit-gradient(linear, left top, right top, from(#321016ab), color-stop(#c0d3ff), to(#321016d1));
  background: linear-gradient(to right, #321016ab, #c0d3ff, #321016d1);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding: 15px 40px;
  z-index: 100000;
  background: -webkit-gradient(linear, left top, right top, from(#2b676fde), to(#011e1f)) !important;
  background: linear-gradient(to right, #2b676fde, #011e1f) !important;
}

#logotext {
  color: yellowgreen;
}

header.sticky {
  padding: 5px 100px;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-align: inherit;
  letter-spacing: 2px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none !important;
  color: #fff !important;
  letter-spacing: 2px;
  font-weight: 500px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header ul li a:hover {
  font-size: larger;
}

.banner {
  position: relative;
  width: 100%;
  background-size: cover;
}

header.sticky .logo,
header.sticky ul li a {
  color: #000;
}

.upper {
  position: relative;
  overflow-x: hidden;
  background: url(home.png);
  background-size: cover;
  min-height: 100vh;
  padding-top: 27vh;
  margin-bottom: 0 !important;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.heading {
  text-align: center;
  font-size: 15vh;
  color: rgba(255, 217, 0, 0.877);
  background-color: rgba(54, 26, 182, 0.3) !important;
  font-family: 'Orbitron', sans-serif;
}

.tagline {
  text-align: center;
  font-size: 4vh;
  font-weight: bold;
  color: gold;
  background-color: rgba(54, 26, 182, 0.3) !important;
  padding-bottom: 10px;
  font-family: 'Crimson Text', serif;
}

input, select, textarea {
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px 15px;
  font-size: 1em;
  line-height: 1.78571;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}

.park-search.homepage {
  position: relative;
  overflow-x: hidden;
  margin-top: 5px !important;
  background-color: rgba(54, 26, 182, 0.3) !important;
  border: black 4px double;
}

.park-search {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0 5px;
}

.box-lable {
  position: absolute;
  top: -55px;
  left: 20%;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  padding: 10px 15px;
  background: #1b406e;
  border-radius: 5px 5px 0px 0;
}

.box-cnt-makeabook {
  float: left;
  margin-left: 15px;
}

.mobile-toggal-s {
  display: none;
}

.box-lable img {
  float: left;
}

.park-search ul {
  margin: 0;
}

.park-search li {
  position: relative;
}

.park-search li {
  list-style: none;
  display: inline-block;
  margin-right: 35px;
}

span.date-range-instruct {
  font-size: 12px;
  color: white;
  font-size: large;
  font-weight: 700;
}

.park-search li #edit-park {
  width: 210px;
}

.park-search li select, .park-search li input {
  height: 55px;
  text-indent: 1px;
  text-overflow: '';
  text-align-last: center;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
}

span.vdate-h {
  width: 100%;
  background: #fdf7f7;
  color: #ce0672;
  display: inline-block;
  margin-top: 5px;
  padding: 10px 10px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

.park-search li input[type=submit] {
  border-radius: 4px;
  border-width: 0px;
  color: #fff;
  background-color: #01a2dd;
  border-color: #01a2dd;
  display: block;
}

.park-search li input[type=submit] {
  padding: 0;
  width: 240px;
}

.box-lable h4 {
  color: #fff;
  margin: 0;
  font-weight: 700;
}

.box-lable p {
  font-size: 12px;
  margin: 0;
  text-transform: capitalize;
}

.housetype {
  width: 15vw;
}

#priceslider {
  top: -7vh;
}

#psliderspan {
  margin-bottom: 0px;
}

.w3slider {
  min-width: 10vw;
  height: 1vh !important;
  margin: 2px;
}

#priceslider > div {
  margin-top: 0px;
}

#priceslider > div > div > div:nth-child(2) > a:nth-child(2), #priceslider > div > div > div:nth-child(2) > a:nth-child(3) {
  height: 20px;
  top: 11px;
}

.w3slider#price-min {
  margin-right: 5px;
  top: 30px;
}

.w3slider#price-max {
  top: 30px;
  margin-left: 5px;
}

.results {
  margin-top: 0 !important;
}

.placards {
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border: 2px white solid;
  height: 40vh;
  width: 80vw;
  border-radius: 0.5rem;
  background-color: #fab0b0;
  padding: 4px;
}

.placards:hover {
  border: 2.5px yellow solid;
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
}

.placards:hover .img, .placards:hover .info {
  border: 1.5px yellow solid;
}

.img {
  border: 1px white solid;
  border-radius: 0.5rem;
  width: 35%;
  margin-right: 3px;
  background-color: #033B77;
  overflow: hidden;
}

.img img {
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.info {
  border: 1px white solid;
  border-radius: 0.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#2b676fde), to(#011e1f));
  background: linear-gradient(to right, #2b676fde, #011e1f);
  width: 75%;
  margin-left: 3px;
  display: block;
  padding: 5vh;
}

.info .oneinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: white;
  font-size: 30px;
  margin-bottom: 4vh;
}

.info .twoinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: white;
  font-size: 25px;
  margin-bottom: 4vh;
}

.info .twoinfo .intwoinfo {
  border: 1.5px white solid;
  margin: auto;
  margin-left: 0px;
  border-radius: 0.5rem;
  background-color: #e5f7a5;
  color: black;
  padding: 4px;
}

.info .threeinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #ffbbbb;
  font-size: 25px;
  margin-bottom: 1vh;
}

.info .threeinfo .inthreeinfo {
  margin: auto;
  margin-left: 0px;
}

.info .threeinfo #myBtn {
  width: 15vw !important;
  font-size: 22px;
  background-color: #a6a6e2;
  color: black;
  border: 1px red solid;
}

.info .threeinfo #myBtn:hover {
  border: 2px white solid;
  background: -webkit-gradient(linear, left top, right top, from(red), to(pink));
  background: linear-gradient(to right, red, pink);
  color: blue;
  font-weight: 800;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  width: 82vw !important;
  height: 80vh !important;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0);
  /* Black w/ opacity */
  border-radius: 0.5rem;
}

/* Modal Content/Box */
.modal-content {
  background-color: #040714 !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#006880ed), to(#00ff7e));
  background: linear-gradient(#006880ed, #00ff7e);
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: yellow 4px solid !important;
  text-align: center;
}

/* The Close Button */
.close {
  color: #fff !important;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #15161a !important;
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
  text-shadow: 0 0 #3d18d0;
  font-weight: 1000;
  font-size: 20px;
  font-weight: bold;
}

.modal-body .ans {
  font-size: 18px;
  font-style: italic;
  color: #c7d7da;
  font-weight: 900;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #15161a !important;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
          animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

#myModal {
  top: 30vh !important;
  left: 8.5vw !important;
  height: 40vh;
}

.whycontainer {
  height: 100vh;
  width: 100vw;
  background-color: white;
  overflow: hidden;
  text-align: center;
  padding: 5vh;
  padding-bottom: 10vh;
}

.whycontainer .infoheading {
  font-size: 45px;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
}

.whycontainer .infodesc {
  font-size: 15px;
  font-style: italic;
  margin-bottom: 4vh;
}

.infoboxup, .infoboxdown {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: auto;
}

.infoboxup .infoboxwrapper, .infoboxdown .infoboxwrapper {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#infobox {
  height: 30vh;
  width: 25vw;
  margin: 2vh;
  text-align: left;
  padding: 5.5vh;
  padding-top: 8.5vh;
}

#infobox .infoboxheading {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 2vh;
}

#infobox .infoboxdesc {
  font-size: 15px;
  font-family: 'Maven Pro', sans-serif;
}

#infobox:hover {
  background: -webkit-gradient(linear, left top, right top, from(#e04545), to(#c9c923));
  background: linear-gradient(to right, #e04545, #c9c923);
  color: white;
  -webkit-box-shadow: 10px 10px 5px grey;
          box-shadow: 10px 10px 5px grey;
}

footer {
  background-color: black;
}

.kilimanjaro_area {
  position: relative;
  z-index: 1;
}

.foo_top_header_one {
  background-color: #15151e;
  color: #fff;
}

.section_padding_100_70 {
  padding-top: 100px;
  padding-bottom: 70px;
}

.foo_top_header_one {
  color: #fff;
}

.kilimanjaro_part {
  margin-bottom: 30px;
}

.foo_top_header_one .kilimanjaro_part > h5 {
  color: #fff;
}

.kilimanjaro_part h4, .kilimanjaro_part h5 {
  margin-bottom: 30px;
}

.kilimanjaro_single_contact_info > p, .kilimanjaro_single_contact_info > h5, .kilimanjaro_blog_area > a, .foo_top_header_one .kilimanjaro_part > p {
  color: rgba(255, 255, 255, 0.5);
}

p, ul li, ol li {
  font-weight: 300;
}

ul {
  margin: 0;
  padding: 0;
}

.kilimanjaro_bottom_header_one {
  background-color: #111;
}

.section_padding_50 {
  padding: 50px 0;
}

.kilimanjaro_bottom_header_one p {
  color: #fff;
  margin: 0;
}

p, ul li, ol li {
  font-weight: 300;
}

.kilimanjaro_bottom_header_one a {
  color: inherit;
  font-size: 14px;
}

a, h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.m-top-15 {
  margin-top: 15px;
}

ul {
  margin: 0;
  padding: 0;
}

.kilimanjaro_widget > li {
  display: inline-block;
}

p, ul li, ol li {
  font-weight: 300;
}

ol li, ul li {
  list-style: outside none none;
}

.kilimanjaro_widget a {
  border: 1px solid #333;
  border-radius: 6px;
  color: #888;
  display: inline-block;
  font-size: 13px;
  margin-bottom: 4px;
  padding: 7px 12px;
}

ul {
  margin: 0;
  padding: 0;
}

.kilimanjaro_links a {
  border-bottom: 1px solid #333;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
  padding-bottom: 10px;
}

.kilimanjaro_links a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
}

top-15 {
  margin-top: 15px;
}

.foo_top_header_one .kilimanjaro_part > h5 {
  color: #fff;
}

.kilimanjaro_part h4, .kilimanjaro_part h5 {
  margin-bottom: 30px;
}

.kilimanjaro_social_links > li {
  display: inline-block;
}

p, ul li, ol li {
  font-weight: 300;
}

.kilimanjaro_social_links a {
  border: 1px solid #333;
  border-radius: 6px;
  color: #888;
  display: inline-block;
  font-size: 13px;
  margin-bottom: 3px;
  padding: 7px 12px;
}

.kilimanjaro_blog_area .kilimanjaro_date {
  color: #27ae60;
  font-size: 13px;
  margin-bottom: 5px;
}

.kilimanjaro_blog_area > p {
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.3;
  margin-bottom: 0;
}

.kilimanjaro_works > a {
  display: inline-block;
  float: left;
  position: relative;
  width: 33.33333333%;
  z-index: 1;
}

.kilimanjaro_thumb {
  left: 0;
  position: absolute;
  top: 0;
  width: 75px;
}

.kilimanjaro_links a i {
  padding-right: 10px;
}

/* :: 18.0 Footer Area CSS */
.footer_area {
  position: relative;
  z-index: 1;
}

.footer_bottom p > i,
.footer_bottom p > a:hover {
  color: #27ae60;
}

.social_links_area {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 50px 0 30px 0;
  text-align: center;
  position: relative;
  z-index: 1;
}

.social_links_area > a:hover {
  color: #27ae60;
}

.inline-style .social_links_area > a:hover {
  background-color: transparent;
  color: #27ae60;
  border: 0px solid transparent;
}

.single_feature:hover .feature_text h4 {
  color: #27ae60;
}

.kilimanjaro_blog_area {
  border-bottom: 1px solid #333;
  margin-bottom: 15px;
  padding: 0 0 15px 90px;
  position: relative;
  z-index: 1;
}

.kilimanjaro_links a {
  border-bottom: 1px solid #333;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
  padding-bottom: 10px;
}

.companyname {
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  color: yellow;
}
/*# sourceMappingURL=Buyer.css.map */